h1.header {
    font-weight: bolder;
    justify-content: center;
    display: flex;
    padding: 30pt;
    border-radius: 30pt;
    background-color:rgba(132, 122, 197, 0.523);
}

h2 {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

body {
    font-family : Ubuntu;
    background-image: url("./Croissants.jpg");
}

div.Experience {
    grid-area: exp;
    margin: 10pt 40pt;
    padding: 10pt;
    border-radius: 30pt;
    background-color:rgba(191, 184, 238, 0.443);
}

div.Education {
    grid-area: edu;
    margin: 10pt 40pt;
    padding: 10pt;
    border-radius: 30pt;
    background-color:rgba(191, 184, 238, 0.443);
}

div.Skills {
    grid-area: skills;
    margin: 10pt 40pt;
    padding: 10pt;
    border-radius: 30pt;
    background-color:rgba(191, 184, 238, 0.443);
}

div.Languages {
    grid-area: lang;
    margin: 10pt 40pt;
    padding: 10pt;
    border-radius: 30pt;
    background-color:rgba(191, 184, 238, 0.443);
}

ol {
    list-style:square;
    font-style: oblique;
}

div.container {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-template-columns:
        1fr 1fr;
    grid-template-areas:
        "exp   edu"
        "skills   lang";
}